//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18C
//Created Time: Sun 01 08 12:02:19 2023

IO_LOC "LED[5]" L16;
IO_PORT "LED[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[4]" L14;
IO_PORT "LED[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[3]" N14;
IO_PORT "LED[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[2]" N16;
IO_PORT "LED[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[1]" A13;
IO_PORT "LED[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[0]" C13;
IO_PORT "LED[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "TMDS_DATA2" K14,K15;
IO_PORT "TMDS_DATA2" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_DATA1" J15,K16;
IO_PORT "TMDS_DATA1" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_DATA0" H14,H16;
IO_PORT "TMDS_DATA0" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_CLOCK" G16,H15;
IO_PORT "TMDS_CLOCK" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "CLOCK_27" H11;
IO_PORT "CLOCK_27" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "KEY_n[4]" C7;
IO_PORT "KEY_n[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "KEY_n[3]" D7;
IO_PORT "KEY_n[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "KEY_n[2]" T2;
IO_PORT "KEY_n[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "KEY_n[1]" T3;
IO_PORT "KEY_n[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "KEY_n[0]" T10;
IO_PORT "KEY_n[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
